# ===== App =====
APP_ENVIRONMENT=local # local | dev | staging | prod

# ===== HTTP Server =====
HTTP_SERVER_HOST=localhost
HTTP_SERVER_PORT=8080
HTTP_SERVER_GRACE_PERIOD=30
HTTP_SERVER_REQUEST_TIMEOUT_PERIOD=10

# ===== Postgres =====
DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mancing_id
DB_SSL_MODE=disable
DB_MAX_IDLE_CONN=10
DB_MAX_OPEN_CONN=100
DB_CONN_MAX_LIFETIME=3600

# ===== Logger =====
LOGGER_LEVEL=debug      # debug | info | warn | error

# ===== Upload =====
UPLOAD_MAX_SIZE_MB=5
UPLOAD_S3_REGION=us-east-1
UPLOAD_S3_BUCKET=mancing-id-assets
UPLOAD_S3_ACCESS_KEY=your-access-key
UPLOAD_S3_SECRET_KEY=your-secret-key
UPLOAD_S3_BASE_KEY_PREFIX=brands/logos
UPLOAD_S3_ENDPOINT=http://localhost:9000   # leave empty for real AWS S3
